A form of verification in between automatic verification and interactive verification. 

The user is typically expected to write specifications in the program text, after which the rest of the verification process is automated (often by using SMT solvers). Aside from specifications, users can also be required to write additional specifications, e.g. lemmas.
These specifications are often written in the form of preconditions, postconditions, loop invariants, etc.